# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic operators

In [ ]:
# ! pip install pandas   # Exclamation mark used to treat the line of code as terminal command
# ! pip install lxml

import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

# Python Assignment Operators

In [13]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [4]:
num : int = 7
print(num)

num += 4
print(num)

7
11

# Python Comparison Operators

In [11]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [ ]:
a : int = 5
b : int = 6
print(a <= b)

# ASCII Codes
* 0 = 48 -> 9 = 57
* A = 65 -> Z = 90
* a = 97 -> z = 122

* chr(65) will result into A
* ord('A') will result into 65

# Python Logical Operators

In [14]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [ ]:
print(True and True and False)
print(False or True or False)

# Python Identity Operators

In [14]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [ ]:
x : str = "abc"
y : str = "xyz"

print(x is y)
print(x is not y)

# Python Membership Operators

In [12]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [ ]:
names : list[str] = [chr(i) for i in range(65, 91)]
print(names)

print("F" not in names)
print("AB" not in names)

In [ ]:
names : list[str] = ["Ali", "Ahmad", "Aslam"]
# input() method is used to get uer input
user_name : str = input("Enter your name!")
user_name in names

In [ ]:
# multiple assignments
a,b,c = "ALi", 5, 3.6
print(a)
# a = "Aslam"
# print(a)
print(b)
print(c)

In [11]:
data = ("Ali", 7, 9.0)
print(data[0], data[1], data[2])    # is same as below
print(*data)                        # * is used to print all data values at the same time, it is called "unzip"

Ali 7 9.0
Ali 7 9.0

# Walrus Operator