# For Loop with Lists

In [ ]:
names: list[str] = ["Ali", "Imran", "Usama", "Alex"]

for name in names:
    print(f"My name is : {name}")
    print("What is yours? \n")
else:                                # in python we can use for-else as well
    print("Hello World")

In [3]:
# in order to iterate selective items from a list slicing can be used 

names: list[str] = ["Ali", "Imran", "Usama", "Alex"]

for name in names[0: 1]:
    print(f"My name is : {name}")

My name is : Ali

In [ ]:
# if we use -1 as step value, loop will start from the last indexed value

names: list[str] = ["Ali", "Imran", "Usama", "Alex"]

for name in names [::-1]:
    print(name)

## Else
* Else specifies the block of code that is to be executed after the loop is finished.

In [ ]:
for x in range(5):
    print(x)
else:
    print("Finished")

In [ ]:
for x in range(5):
    print(x)
    break
else:
    print("Finished")

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
else:
    print("Hello world")

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
print("Hello world")

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
    
print("Hello world")

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

In [ ]:
message = "Hello Python world!" 
    print(message)

## Numbers with loop
* range(start, end, step)

In [ ]:
for n in range(0, 10):  # start = 0, end = n-1
    print(n)

In [ ]:
for n in range(10): # start = 0, end = n-1
    print(n)

In [ ]:
for n in range(0, 10, 2):   #start = 0, end = n-1, step = 2
    print(n)

In [ ]:
for n in range(0, 11):
    print(f"{2} X {n} = {2 *n}")

In [ ]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

## List comprehensive
* Offers shorter syntax when we want to create a new list out of items of an existing list

* [loop_body for item in items_list]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [x for x in fruits if "a" in x]
print(new_list)

In [ ]:
[i**2 for i in range(1,11)]

## Tuples
* A collection which is ordered and unchangeable. Tuples are written in round brackets.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

In [ ]:
names:tuple[str] = ('A',"B",'C') # type: ignore
print(names[0])
print(names[0:2])

In [ ]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"   # 'tuple' object does not support item assignment

In [ ]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

In [ ]:
a  = input("abc") # return string type
print(type(a))
print(a)

In [ ]:
sorted([7,8,1,3])

In [ ]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

In [ ]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    user, password = row
    print(user, password)

In [ ]:
input_user : str = input("Enter user name")
print(input_user)

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

## Commonly used list methods
* append(): Adds an element at the end of the list
* extend(): Add the elements of a list (or any iterable), to the end of the current list
* remove(): Removes the first item with the specified value

## Commonly used Tuple methods
* count(): Returns the number of times a specified value occurs in a tuple
* index(): Searches the tuple for a specified value and returns the position of where it was found