# For Loop with Lists

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)

In [ ]:
names: list[str] = ["Ali", "Imran", "Usama", "Alex"]

for name in names:
    print(f"My name is : {name}")
    print("What is yours? \n")

## Iterating on selective items of a list
* Slicing can be used for iterating on selected items of a list

In [ ]:
names: list[str] = ["Ali", "Imran", "Usama", "Alex"]

for name in names[0: 2]:
    print(f"My name is : {name}")

## Printing list in reverse order
* negative step can be used to start iterating on a list from last index

In [ ]:
names: list[str] = ["Ali", "Imran", "Usama", "Alex"]

for name in names [::-1]:
    print(name)

## Else
* Else specifies the block of code that is to be executed after the loop is finished.

In [ ]:
for x in range(5):
    print(x)
else:
    print("Finished")

## break statemant
* used to stop iteration on loop

In [18]:
for x in range(10):
    print(x)
    break
else:
    print("Finished")

0

## for-else
* in python we can use for-else as well

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
else:
    print("Hello world")

In [15]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

Sir Zia

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
print("Hello world")

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
    
print("Hello world")

## Numbers with loop
* range(start, end, step) can be used to print the desired range of digits

In [ ]:
# start = 0, end = n-1
for n in range(0, 10):  
    print(n)

In [ ]:
# start = 0, end = n-1
for n in range(10): 
    print(n)

### Printing even numbers

In [ ]:
#start = 0, end = n-1, step = 2
for n in range(0, 10, 2):   
    print(n)

### Printing odd numbers

In [ ]:
for n in range(1, 10, 2):
    print(n)

### Printing tables

In [ ]:
for n in range(0, 11):
    print(f"{2} X {n} = {2 *n}")

### List of squares

In [ ]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

## List comprehensive
* Offers shorter syntax when we want to create a new list out of items of an existing list

* [loop_body for item in items_list]
* [loop_body for item in items_list condition]

In [ ]:
# list of squres
[i**2 for i in range(1,11)]

In [ ]:
# list of cubes
[i**3 for i in range(1, 10)]

In [32]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [x for x in fruits if "a" in x]
print(new_list)

['apple', 'banana', 'mango']

In [ ]:
[i for i in dir(str) if "__" not in i]

## Tuples
* A collection which is ordered and unchangeable. Tuples are written in round brackets.
* Complete values of tuple can be updated
* But individual values can't be updated

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

# my_tuple object can be updated 
my_tuple = (6,7,8)
print(my_tuple)

## Slicing the tuple

In [17]:
names:tuple[str, str, str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

## Updating values
* tuple does not support updating the values

In [ ]:
names:tuple[str, str, str] = ('A',"B",'C')

# 'tuple' object does not support item assignment
names[0] = "Pakistan"

In [ ]:
from typing import Any
data : tuple[str, list, bool] = ("A",[1,2,3], True) 

print(data)

In [ ]:
# returns string type
a  = input("")
print(type(a))
print(a)

## sorted()
* sorts a list in ascending order

In [ ]:
sorted([7,8,1,3])

In [ ]:
data : tuple[Any, list, bool] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

In [ ]:
names1:tuple[str, str, str] = ('A',"B",'C')

names2:tuple[str, str, str] = ('Pakistan',"B",'C')

print(names)

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    # unpacking the values
    user, password = row
    print(user, password)

In [ ]:
input_user : str = input("Enter user name")
print(input_user)

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

In [ ]:
users : list[tuple[str, str]] = [('ABC', '123'), ('DEF', '456'), ('GHI', '789')]

for x in users:
    user_name, password = x
    print(f'User name: {user_name}, Password: {password}')

## Commonly used list methods
* append(): Adds an element at the end of the list
* extend(): Add the elements of a list (or any iterable), to the end of the current list
* remove(): Removes the first item with the specified value

## Commonly used Tuple methods
* count(): Returns the number of times a specified value occurs in a tuple
* index(): Searches the tuple for a specified value and returns the position of where it was found